<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.springframework">
	<resources>
		<resource-root path="aopalliance-${aopalliance.version}.jar" />
		<resource-root path="spring-aop-${spring.version}.jar" />
		<resource-root path="spring-beans-${spring.version}.jar" />
		<resource-root path="spring-context-${spring.version}.jar" />
		<resource-root path="spring-context-support-${spring.version}.jar" />
		<resource-root path="spring-core-${spring.version}.jar" />
		<resource-root path="spring-expression-${spring.version}.jar" />
		<resource-root path="spring-jms-${spring.version}.jar" />
		<resource-root path="spring-messaging-${spring.version}.jar" />
		<resource-root path="spring-tx-${spring.version}.jar" />
		<resource-root path="spring-web-${spring.version}.jar" />
	</resources>
	<dependencies>
		<module name="javaee.api">
			<imports>
				<exclude-set>
					<path name="javax/ws/rs" />
					<path name="javax/ws/rs/core" />
					<path name="javax/ws/rs/ext" />
				</exclude-set>
			</imports>
		</module>
		<module name="org.apache.commons.logging" />
		<module name="org.jboss.vfs" />
		<module name="net.sf.ehcache" />
		<module name="org.hibernate" />
		<module name="javax.el.api" export="true" />
		<module name="com.sun.xml.bind" export="true" />
		<module name="org.apache.camel" optional="true" />
		<module name="com.marklogic.xcc" optional="true" />
	</dependencies>
</module>
