<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.xmlbeans">
	<resources>
		<resource-root path="xmlbeans-${xmlbeans.version}.jar" />
	</resources>
	<dependencies>
		<module name="javax.xml.bind.api" />
		<module name="javax.api" />
	</dependencies>
</module>
