<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="net.therore.therore-concurrent">
	<resources>
		<resource-root path="therore-concurrent-${therore-concurrent.version}.jar" />
	</resources>
	<dependencies>
		<module name="org.apache.camel"/>		
		<system export="false">
			<paths>
				<path name="javax/management" />
			</paths>
		</system>
	</dependencies>
</module>
