<?xml version="1.0" encoding="UTF-8"?>
<component
    xmlns="http://maven.apache.org/plugins/maven-assembly-plugin/component/1.1.2"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://maven.apache.org/plugins/maven-assembly-plugin/component/1.1.2 http://maven.apache.org/xsd/component-1.1.2.xsd">
    <dependencySets>
        <dependencySet>
            <includes>
                <include>aopalliance:aopalliance</include>
                <include>org.springframework:spring-aop</include>
                <include>org.springframework:spring-beans</include>
                <include>org.springframework:spring-context</include>
                <include>org.springframework:spring-context-support</include>
                <include>org.springframework:spring-core</include>
                <include>org.springframework:spring-expression</include>
                <include>org.springframework:spring-jms</include>
                <include>org.springframework:spring-messaging</include>
                <include>org.springframework:spring-tx</include>
                <include>org.springframework:spring-web</include>       
            </includes>
            <outputDirectory>org/springframework/main</outputDirectory>
            <useProjectArtifact>false</useProjectArtifact>
        </dependencySet>
    </dependencySets>
</component>

